<!--
    Author: Author: Hong Viet
    Team: Team Seven
    Course: COMP229 - Fall 2020
    Purpose: Team Project - Survey Site  
-->
<!-- Bottom Nav -->
    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights Reserved. Team Se7en.</h6>
      </nav>
    </footer>