<!--
    Author: Author: Hong Viet
    Team: Team Seven
    Course: COMP229 - Fall 2020
    Purpose: Team Project - Survey Site  
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
            <!-- Image for Team Se7en Logo -->
            <center><img src="/Assets/images/logo.png" alt="teamsevenlogo"/></center>
            <center><h1 class="display-4">Welcome to Team Se7en - Survey Site</h1></center>     
      </div>
    </main>
    
<%- include partials/bottom_nav.ejs %>

<%- include partials/header.ejs %>






